body {
    padding-top: 70px; /*for the fixed top */
}

.tab{
    color:white;
    background-color:dodgerblue;
    opacity: .5;
}
.tab.selectedTab{
    color:white;
    opacity: 1;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
    background-color: white;
}

.show-hide {
    opacity:1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.show-hide.ng-hide {
    opacity:0;
}
.show-hide.ng-show{
    opacity:100
}
