<table class="table table-bordered">
    <tr ng-repeat="row in tableArray">
        <td ng-repeat="data in row" ng-click=selectData(data) class=" {{selectedName(data)}}">{{data.Name}}: {{data.Value}}</td></tr>
</table>

<!--<table class="table table-striped">-->
    <!--<tr>-->
        <!--<th>Cash/payments</th>-->
        <!--<th>Credit</th>-->
        <!--<th>Tips</th>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Total Cash: {{report.totalCash | currency}}</td>-->
        <!--<td>Total Visa: {{report.totalVisa | currency}}</td>-->
        <!--<td>Visa Tips: {{report.visaTips | currency}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Total Discounts: {{report.totalDiscounts | currency}}</td>-->
        <!--<td>Total Mastercard: {{report.totalMastercard | currency}}</td>-->
        <!--<td>Mastercard Tips: {{report.mastercardTips | currency}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Total Taxes: {{report.totalTaxes | currency}}<br></td>-->
        <!--<td>Total Discover: {{report.totalDiscover | currency}}</td>-->
        <!--<td>Discover Tips: {{report.discoverTips | currency}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td></td>-->
        <!--<td>Total Amex: {{report.totalAmex | currency}}</td>-->
        <!--<td>Amex Tips: {{report.amexTips | currency}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td><strong>Cash Tips: {{report.cashTips | currency}}</strong></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><strong>Total Payments:{{report.totalPayments | currency}}</strong></td>-->
        <!--<td><strong>Total Credit: {{report.totalCredit | currency}}</strong></td>-->
        <!--<td><strong>Total Credit Tips: {{report.creditTips | currency}}</strong></td>-->
    <!--</tr>-->
    <!--<tr class="success">-->
        <!--<td></td>-->
        <!--<td><strong>Total Sales: {{report.totalSales | currency}}</strong></td>-->
        <!--<td><strong>Total Tips: {{report.totalTips | currency}}</strong></td>-->
    <!--</tr>-->
<!--</table>-->
<!--<h4>Total Tickets sold:{{report.totalTickets}}</h4>-->
