<table class="table table-striped">
    <tr>
        <th ng-repeat="category in categories" ng-click="order(category.key)">{{category.Name}}</th>
    </tr>
    <tr ng-repeat="item in objectArray | tableSort:sortby:reverse" ng-click="click(item, objectArray)" class=" {{item.checked?'success':''}}">
        <td ng-repeat="category in categories">{{item.Value[category.key]| dynoFilter:category}}</td>
    </tr>
</table>