<form class="col-md-10 col-lg-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
    <label  for="userName">User Name*</label>
    <input ng-model="login.id" id="userName" name="userName" class="form-control" required>

    <label for="password">Password</label>
    <input ng-model="login.password" id="password" type="password" name="password" class="form-control" required>
    <br>
    <button class="btn btn-sm btn-primary" ng-click="toggleReport()">Login</button>
    <div ng-show=error class="alert-danger"><h3>Error:<small>{{error}}</small></h3></div>
</form>
<br>
<!--<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">-->
    <!--<h3><small>No Account? </small><a ng-click="toggleReport()">Sign Up</a></h3>-->
<!--</div>-->