<nav class="btn-group navbar navbar-default navbar-fixed-top" role="navigation">
    <button type="button" go-click="/EOD-Report" class="btn btn-default navbar-btn">End Of Day ReportEnd of Day report</button>
    <button type="button" go-click="/Hourly-Report" class="btn btn-default navbar-btn">Hourly Report</button>
    <!--<button type="button" go-click="/Employee-Hours" class="btn btn-default navbar-btn">Employee Time Report</button>-->
</nav>