<div navigation></div>
<div class="col-lg-offset-1 col-md-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-xs-10">
    <h1>Employee Hours<small> Report</small></h1><button class="btn btn-warning" ng-click=getEmployees()>get fake data</button>
    <br>

    <div report-table categories=tableCategories object-array=combinedTableEmployees click=selectItem></div>
</div>