<div navigation></div>
<div class="col-lg-offset-1 col-md-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-xs-10">
    <h1>Daily Report</h1>
    <input placeholder="Start Date" date-picker callback="getStartDate" max-date=maxDate>
    <input placeholder="End Date" date-picker callback="getEndDate" min-date = minDate>
    <button type="button" class="btn btn-success" ng-click=getReport() ng-disabled=!dateReady>Get Hourly Reports</button>
    <br>
    <div ng-show=dailyReady>
        <h3>Total Sum: {{totalGraphSum|currency}}</h3>
        <div vertbar-chart data=orderedItems parse=barDataParse checked=true watch=regraph parse-key="Quantity" axis-func=dateDifference xunits="days"></div>
        <div line-graph></div>
        <button type="button" class="btn btn-warning" ng-click=selectAll()>Select All</button>
        <div report-table categories=tableCategories object-array=orderedItems click="selectItem"></div>
    </div>
</div>
