<div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 btn-group">
    <button go-click="/EOD-Report" class="btn btn-primary">End Of Day Report</button>
    <button go-click="/Hourly-Report" class=" btn btn-primary">Hourly Report</button>
    <!--<button  go-click="/Employee-Hours" class="btn btn-primary">Employee Hours</button>-->
<!--</div>-->
<!--<div class="col-lg-offset-3 col-md-offset3 col-sm-offset-3  btn-group">-->
    <!--<button class="btn btn-warning">Road to nowhere</button>-->
    <!--<button class=" btn btn-warning">Road to nowhere</button>-->
    <!--<button class=" btn btn-warning">Road to nowhere</button>-->
</div>